.con {
    background-color: black;
}
.polls{
    position: absolute;
    top: 40%;
    right: 3%;
    width: 300px;
    color: white;
}

.message {
 color: red;
 text-align: center;
}

.hideMessage {
    display: none;
}

.showMessage {
    display: block;
}

.redInput {
    border: 2px red solid;
}

.hideUserMsg {
    display: none;
}

.hidePassMsg {
    display: none;
}

.signupMsg {
    color: red;
    text-align: center;
}

.showUserMsg {
    display: block;
}

.showPassMsg {
    display: block;
}

.lives {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 3%;
    left: 3%;
}