.con {
    background-color: black;
}
.polls{
    position: absolute;
    top: 40%;
    right: 3%;
    width: 300px;
    color: white;
}

.message {
 color: red;
 text-align: center;
}

.hideMessage {
    display: none;
}

.showMessage {
    display: block;
}