@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html, body {
  height: 100vh;
  background: #000000;
  overflow: hidden;
  
}

.wrapper {
    animation-name: credits;
    animation-delay: 11s;
    animation-duration: 80s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
    position: absolute;
    top: 35%;
    width: 100%;
    font: 300 30px/1 ;
    font-family: "Press Start 2P";
    text-align: center;
    text-transform: uppercase;
    color: white;
  
}



.name {
  margin-bottom: 50px;
  font-size: 45px;
}

@keyframes credits {
from { transform:  translateY(0); }
  to { transform: translateY(-12470px); }
}

.logo{
    width: 400px;
    height: 500px;
    
    
}
.logos{
    width: 400px;
    
    
    
}
.break{
    height: 400px;
}

.cat{
width: 27%;
}

.cat:hover{
    cursor: pointer;
    border-radius: 5000px ;
    border: solid rgb(255, 255, 142);
    background-color:  rgb(255, 255, 142);
    animation: moon 15s infinite linear;
    
    
}

@keyframes title{
  100%{
    color:white
  };
  
}

@keyframes moon{
  50%{
    background-color: rgb(225, 190, 231);
    border: solid rgb(225, 190, 231);
    
  }
  80%{
    background-color:  rgb(255, 255, 142);
    border: solid  rgb(255, 255, 142);
  }
}

.gameTitle{
  animation-name: title;
  animation-delay: 8s;
  font-size: 125px;
  animation-fill-mode: forwards;
}

span{
color:#6f6188;
}