.settingsButton {
    position: absolute;
    top: 2%;
    right: 1%;
}

#settingsGear {
    width: 80px;
}

.settingsButton:hover {
    cursor: pointer;
    opacity: .8;
}

#settingsModal {
    font-family: 'Press Start 2P', cursive;
}