.hideModal {
    display: none;
}
  
.showModal {
    display: block;
}
  
.modal {
    text-align: center;
    top: 5%;
}
  
.modal-content {
    box-shadow: 5px 5px 10px black;
    padding: 5px black solid;
    background-color: rgb(166, 100, 197);
    color: white;
}

.singlePlayer,
.coopPlayer {
    color: black;
    border-bottom: dashed black;
    border-width: 2px;
    /* border-style: solid; */
}

@keyframes hvr-back-pulse {
    50% {
      background-color:rgb(95,83,117);
    }
}