.menu{
    background-image: url("https://github.com/joshglugatch/JERONIVOSH/blob/main/client/public/assets/introcity.gif?raw=true");
    height: 100vh;
}
.btn {
    border: 1px black solid;
    padding: 10px;
    margin-top: 20px;
    background-color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.btn:hover{
    cursor: pointer;
    background-color:black;
    color: white;
}
.pad{
    padding-top: 23%;
}