.mainMenu {
    background-image: url("https://github.com/joshglugatch/JERONIVOSH/blob/main/client/public/assets/introcity.gif?raw=true");
    height: 100vh;
}
.btn {
    border: 1px black solid;
    padding: 10px;
    margin-top: 20px;
    background-color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.btn:hover {
    cursor: pointer;
    background-color:black;
    color: white;
}

.eight {
    color: rgb(231, 177, 177);
}

.gameTypeContainer {
    margin-top: 120px;
    background-color: #6f6188;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 3px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px;
    opacity: 0.98;
    box-shadow: 5px 5px 2px #514564;
    max-width: 100%;
    max-height: 85%;
}

@media (max-width:470px) {
    #coopBtn {
        font-size: 14px;
    }
}

@media (max-width:430px) {
    #coopBtn {
        font-size: 12px;
    }
}

@media (max-width:375px) {
    #coopBtn {
        font-size: 10px;
    }
    #soloBtn {
        font-size: 14px;
    }
}

@media (max-width:320px) {
    #coopBtn {
        font-size: 8px;
    }
    #soloBtn {
        font-size: 10px;
    }
    #instructionsBtn {
        font-size: 10px;
    }
}

@media (max-width:280px) {
    #coopBtn {
        font-size: 6px;
    }
    #soloBtn {
        font-size: 8px;
    }
    #instructionsBtn {
        font-size: 8px;
    }
}

@keyframes hvr-back-pulse {
    50% {
      background-color:rgb(95,83,117);
    }
}