.noScore {

    text-align: center;
    position: fixed;
    top: 40%;
    left: 45%;
    
}

.username {
    text-align: center;
}
.scores {
    font-size: 20px;
    height: 500px;
    overflow: auto;
}

.myScoresContainer {
    margin-top: 120px;
    background-color: #6f6188;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 3px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px;
    opacity: 0.98;
    box-shadow: 5px 5px 2px #514564;
    max-width: 100%;
    max-height: 85%;
}