.gif {
    display: block;
    margin: 0 auto;
}

.loading{
    color: white;
    position: fixed;
    left: 48%;
    top: 25%;
}
#volIcon {
    width: 80px;
}

.mute {
    width: 100px;
    position: absolute;
    top: 3%;
    right: 3%;
}
.mute:hover {
    cursor: pointer;
    opacity: .7;
}

.lives {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 3%;
    left: 3%;
}

.redX {
   display: none;
   position: absolute;
   right: 20%;
}