.gif {
    
    display: block;
    margin: 0 auto;
}

#volIcon {
    width: 75px;
    z-index: 0;
}

.mute {
    width: 100px;
    position: absolute;
    top: 3%;
    right: 3%;
}
.mute:hover {
    cursor: pointer;
    opacity: .7;
}

.lives {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 3%;
    left: 3%;
}

.redX {
   display: none;
   position: absolute;
   right: 20%;
   z-index: 1;

}