.gif {
    
    display: block;
    margin: 0 auto;
}

#volIcon {
    width: 75px;
}

.mute {
    width: 100px;
    position: absolute;
    top: 3%;
    right: 3%;
}
.mute:hover {
    cursor: pointer;
}

.lives {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 3%;
    left: 3%;
}